.footer {
    background-color: var(--primary-color);
    color: rgb(5, 0, 0);
    padding: 10px;
    text-align: center;
    border-top: 2px solid var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
  }